@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
    background-color: #151520; /* Dark background */
    color: white;
    font-family: 'Roboto', sans-serif;
}

.my-button {
    background-color: #1b1b2a;   /* Button background */
    color: white;                /* Text color */
    padding: 15px 40px;          /* Button size */
    font-size: 16px;             /* Text size */
    border: none;                /* Remove default border */
    border-radius: 10px;         /* Rounded corners */
    cursor: pointer;             /* Pointer on hover */
    transition: all 0.3s ease;   /* Smooth hover */
    box-shadow: 0 4px 6px rgba(41, 40, 40, 0.1); /* Soft shadow */
}

.button-row {
    padding: 0 20px;
    display: flex;
    gap: 20px;                   /* Space between buttons */
    justify-content: center;
    margin-top: 20px;
}

.my-button:hover {
    transform: scale(1.25);
    background-color: #254c74; /* Hover color */
}

.bold-name {
    font-weight: 900;
    font-size: 2.7rem;
    letter-spacing: 1px;
    color: #ffffff;
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.5),
        0 0 10px rgba(255, 255, 255, 0.4),
        0 0 20px rgba(255, 100, 100, 0.3);
}

img.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
}
